section {
    display: flex;
    justify-content: center;
    text-align: center;
    letter-spacing: 7px;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(255, 252, 249);
}

h1 {
    font-size: 500%;
}

p.parrafo {
    font-size: 140%;
    margin-top: 2%;
}

.botoninicio, .btnPag1 {
    background-color: black;
    color: white;

    margin-top: 3%;
    /* con esto le da el aspecto redoneado al botón */
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;

    /* con esto le das sombra al botón */
    -webkit-box-shadow: 6px 5px 24px #666666;
    -moz-box-shadow: 6px 5px 24px #666666;
    box-shadow: 6px 5px 24px #666666;

    /* con esto le damos el tamaño de letra y de padding del botón */
    padding: 14px;
    font-size: 17px;
    text-decoration: none;
    letter-spacing: 4px;
}

/* con este hover le damos animación para que el botón se ponga de color negro cuando le pasamos el puntero por encima */
.botoninicio:hover, .btnPag1:hover{
    background-color: white;
    color: black;
    transition-delay: 9ms;
    /* con el comando de la línea de abajo, los botones tienen un problema de redimensionamiento al pasar el mouse por encima, con el hover, entonces si se lo quito, no hace problema */
    /* font-weight: bold; */
    
}

.img1 {
    margin-top: -7%;
}

.tituloDos {
    text-align: center;
}

#navbarPagUno a, .navbar{
    text-decoration: none;
    text-align: center;
}

.btnPag1{
    margin: 25px;
}